#app{
    background-image: linear-gradient( #50c6d8, white);
    font-family: 'josefin sans';
}


.slots-container{
    overflow: auto;
    height: 80vh;
    padding: 20px;
}

.time-slot-style{
    padding: 5px 20px;
    background-color: #FDFBEF;
    width: 100%;
    margin: 20px 0px;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 8px 0px #ccc;
    -moz-box-shadow:    3px 3px 8px 0px #ccc;
    box-shadow: 3px 3px 8px 0px #ccc;
    border-radius: 10px;
}

.head-container{
    text-align: center;
    font-weight: 700;
    letter-spacing: .3em; 
    text-transform: uppercase;
    color: #fff;
}

.filled-time-slot-style{
    background-image: linear-gradient(to right, #f07a7a, #ff0000);
    color: #FFFFFF;
}

::-webkit-scrollbar{
    display: none;
}